h1{
    text-align: center;
}
.box{
    background-color: White;
    width:30%;
    padding:20px;
    box-shadow: 3px 2px 3px 3px rgb(220, 215 ,215);
}
.button{
    background-color: blue;
    color:white;
    border: none;
    width:100%;
    margin:8px 0px;
    padding: 16px 20px;
}